/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos del cuerpo */
body {
  font-family: 'Arial', sans-serif;
  background-color: #121212; /* Fondo oscuro */
  color: #e0e0e0; /* Texto claro */
}

/* Estilos del encabezado y navegación */
header {
  background-color: #1f1f1f; /* Fondo más claro para el encabezado */
  padding: 15px 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples líneas */
}

.navbar a {
  font-size: 20px;
  color: #e0e0e0; /* Texto claro */
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Efecto hover más sutil */
}

.container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 4rem 1rem;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  padding: 1rem 0;
  margin-bottom: 20px;
  color: #ffffff; /* Título en blanco */
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="file"] {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  background-color: #333333; /* Fondo oscuro para el input */
  color: #e0e0e0; /* Texto claro en el input */
  border: none; /* Sin borde */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
}

input[type="file"]::file-selector-button {
  background-color: white; /* Botón de selección de archivo en azul */
  color: black; /* Texto blanco en el botón */
}

button {
  background-color: #7a49bf; /* Color primario del botón */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #49247b; /* Color más oscuro al pasar el ratón */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column; /* Cambia a una columna en pantallas pequeñas */
      align-items: center; /* Alinea los elementos al centro */
      padding-bottom: 10px; /* Espaciado adicional en la parte inferior */
  }

  .navbar a {
    font-size: 15px;
      padding: 4px 10px; /* Ajusta el espaciado de los enlaces */
      width: 100%; /* Hace que los enlaces ocupen todo el ancho disponible */
      text-align: center; /* Centra el texto de los enlaces */
  }

  .container {
      margin-top: 20px; /* Reduce el margen superior en pantallas pequeñas */
      padding-left: 15px; /* Espaciado interno ajustado para mejor visualización en móviles */
      padding-right: 15px; 
      width: calc(100% - 30px); /* Asegura que el formulario no exceda el ancho de la pantalla */
      box-shadow: none; /* Elimina la sombra en pantallas pequeñas para un aspecto más limpio */
  }
}